@import "../../settings.scss";

.taskBox {
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid $rowDateColor;
  border-radius: 6px;

  .text {
    display: flex;
    text-align: center;
    justify-content: center;
    width: calc(100% - 240px);
    padding: 10px;
  }

  .utility {
    display: flex;

    .btnDone {
      padding: 0 10px;
      width: 90px;
      transition: $transition;
      background: $btnDoneColor;
      &:hover {
        background: $btnDoneColorHov;
      }
    }

    .deleteBtn {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .dateActiv {
      width: 110px;
      background: $rowDateColor;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

button {
  border: none;
  cursor: pointer;
}
.deleteBtn {
  width: 40px;
  height: 40px;
  background: $btnDelColor;
  font-weight: bold;
  font-size: 20px;
  color: $textColor;
  transition: $transition;

  &:hover {
    background: $btnDelColorHov;
  }
}

.doneTaskBox {
  border: 1px solid $rowDateColor;
  margin: 2px 0;
  display: flex;
  align-items: center;
  font-size: 14px;

  .text {
    width: calc(100% - 370px);
  }

  .taskInfo {
    display: flex;

    .date {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
    }
    .confirmDate {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
    }
  }
}

@media (max-width: 992px) {
  .taskBox {
    margin: 2px 4px;
    flex-direction: column;

    .text {
      justify-content: center;
      width: 100%;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    .utility {
      .deleteBtn {
        border-top-right-radius: 0;
      }

      .dateActiv {
        width: calc(100% - 120px);
        padding: 0;
      }
    }
  }
  .deleteBtn {
    width: 30px;
    height: 30px;
  }

  .doneTaskBox {
    margin: 2px;
    flex-direction: column;

    .text {
      padding: 10px 0;
      width: 100%;
      border-bottom: 1px solid $rowDateColor;
    }

    .taskInfo {
      justify-content: space-around;
      width: 100%;
      .date {
        width: 30%;
        border-right: 1px solid $rowDateColor;
      }
      .confirmDate {
        width: calc(70% - 30px);
      }
    }
  }
}
