.taskBox {
  // background: grey;
  margin: 4px 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid #464866;
  border-radius: 6px;

  .text {
    display: flex;
    text-align: center;
    justify-content: center;
    width: calc(100% - 240px);
    // border: 1px solid black;
    padding: 10px;
  }

  .utility {
    display: flex;
    // width: 20%;

    .btnDone {
      padding: 0 10px;
      width: 90px;
      transition: 0.5s all ease-in-out;
      background: #29648a;
      &:hover {
        background: #2e9cca;
      }
    }

    .deleteBtn {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .dateActiv {
      width: 110px;
      background: #464866;
      padding: 10px;
    }
  }
}

button {
  border: none;
  cursor: pointer;
}
.deleteBtn {
  width: 40px;
  height: 40px;
  background: rgb(235, 142, 126);
  font-weight: bold;
  font-size: 20px;
  color: white;
  transition: 0.5s all ease-in-out;

  &:hover {
    background: red;
  }
}

.doneTaskBox {
  border: 1px solid #464866;
  margin: 2px 0;
  display: flex;
  align-items: center;
  font-size: 14px;

  .text {
    width: calc(100% - 370px);
  }

  .date {
    width: 150px;
  }
  .confirmDate {
    width: 220px;
  }
}
