.taskBox {
  background: grey;
  margin: 4px 0;
  display: flex;
  justify-content: space-around;

  .text {
    border: 1px solid black;
    padding: 10px;
  }

  .date {
    border: 1px solid black;
    padding: 10px;
  }

  button {
    padding: 10px;
    background: orange;

    &.deleteBtn {
      background: red;
      font-weight: bold;
    }
  }
}
