@import "../../settings.scss";

.addTask {
  padding: 20px 0;
  flex-grow: 1;
  text-align: center;

  input {
    height: 50px;
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
    outline: none;
    border: 2px solid #f4d1aeff;
    border-radius: 10px;

    &:focus {
      background: #f4d1aeff;
    }
  }

  label {
    font-size: 22px;
  }

  .inputWrapper {
    padding: 10px 0;
    input {
      width: 50%;
    }
  }

  .dateWrapper {
    padding: 10px 0;
  }

  .btnWrapper {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    label {
      display: flex;
      align-items: center;
    }

    button {
      background: #3cb371;
      cursor: pointer;
      box-shadow: 0 0 4px grey;
      border: none;
      padding: 10px;
      color: white;
      font-weight: bold;
      outline: none;
      border-radius: 10px;
      transition: 0.3s all ease-in-out;

      &:hover,
      &:focus {
        background: #2e8b57;
        box-shadow: 2px 2px 4px#2e8b57;
      }
    }
  }
}

@media (max-width: 992px) {
  .addTask {
    padding: 20px 10px;

    .inputWrapper {
      input {
        width: 80%;
      }
    }
  }
}
