@import "../../settings.scss";

.addTask {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  div {
    margin: 10px 0;
  }

  input {
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    padding: 8px;
    border: none;
    background: $inputBgdColor;

    &:focus {
      background: $sectionColor;
      outline: none;
      font-weight: bold;
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="text"] {
      width: 400px;
    }

    label {
      cursor: pointer;
      transition: $transition;
      input {
        margin-right: 10px;
      }

      &:hover {
        text-shadow: $txtShadow;
      }
    }
  }

  .dateWrapper {
    label {
      cursor: pointer;
      input {
        margin-left: 10px;
      }
      transition: $transition;
    }

    &:hover {
      label {
        text-shadow: $txtShadow;
      }
    }
  }

  .btnWrapper {
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      color: $textColor;
      transition: $transition;
      background: $btnAddImpColor;

      &:hover {
        background: $btnAddImpColorHov;
      }
    }
  }
}

@media (max-width: 992px) {
  .addTask {
    padding: 0 6px;

    div {
      margin: 6px 0;
    }

    input {
      border-radius: 8px;
    }

    label {
      padding: 0 6px;
    }

    .inputWrapper {
      label {
        input {
          margin-right: 6px;
        }
      }
    }
  }
}
