@import "./settings.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkColor;
  color: $textColor;
  letter-spacing: 1px;
}


