$darkColor: #25274d;
$textColor: white;
$rowDateColor: #464866;
$btnDoneColor: #29648a;
$btnDoneColorHov: #2e9cca;
$btnDelColor: #eb8e7e;
$btnDelColorHov: #ff0000;
$transition: 0.5s all ease-in-out;
$inputBgdColor: #d2d7f0;
$txtShadow: 0 0 2px white, 0 0 6px white, 0 0 10px white;
$sectionColor: #c0c0c0;
$btnAddImpColor:  #3cb371;
$btnAddImpColorHov: #2e8b57;
