// $darkColor: #25274d;
// $textColor: white;
// $rowDateColor: #464866;
// $btnDoneColor: #29648a;
// $btnDoneColorHov: #2e9cca;
// $btnDelColor: #eb8e7e;
// $btnDelColorHov: #ff0000;
// $transition: 0.5s all ease-in-out;
// $inputBgdColor: #d2d7f0;
// $txtShadow: 0 0 2px white, 0 0 6px white, 0 0 10px white;
// $sectionColor: #c0c0c0;
// $btnAddImpColor:  #3cb371;
// $btnAddImpColorHov: #2e8b57;
$textColor: #1d201f;
$btnDelColor: #eb8e7e;
$btnDelColorHov: #ff0000;
$txtShadow: 0 0 2px white, 0 0 6px white, 0 0 10px white;
$btnAddImpColor: #3cb371;
$btnAddImpColorHov: #2e8b57;

$darkColor: #ebebd3ff;
$rowDateColor: #083d77ff;
$btnDoneColor: #8093f1;
$btnDoneColorHov: #2e9cca;
$transition: 0.5s all ease-in-out;
$inputBgdColor: #d2d7f0;
$sectionColor: #083d77ff;

$mainColor: #f4edeaff;
// $mainColor: #f4d1aeff;
// $mainColor: #cedadaff;
// $mainColor: #b6c8a9ff;

$maximum-blue-green: #06bcc1ff;
$umber: #695958ff;
$chinese-red: #a33b20ff; //close?
$yellow-orange: #fcaf58ff;
$mango-tango: #ff8c42ff; //hover?
$orange-yellow-crayola: #f4d35eff;
$sandy-brown: #ee964bff; //hover?
$orange-soda: #f95738ff; //hover?
// $aero-blue: #c8ead3ff;
// $aero-blue-2: #cfffe5ff;

$prussian-blue: #12263aff;
// $opal: #c5d8d1ff;

$purple-navy: #4e598cff;

$indigo-dye: #083d77ff;
// $beige: #ebebd3ff;
