.activeTasks {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid silver;
  .addTaskInfo {
    text-shadow: 0 0 4px black, 0 0 2px white, 0 0 6px white, 0 0 10px white;
    letter-spacing: 6px;
  }
  h2 {
    border-top: 2px solid silver;
    text-transform: uppercase;
    color: white;
    padding: 10px 0;

    em {
      color: grey;
    }

    &:hover {
      em {
        color: white;
      }
    }
  }

  .infoRow {
    display: flex;
    text-transform: uppercase;
    border-top: 1px solid silver;
    border-bottom: 2px solid silver;
    letter-spacing: 2px;
    background: #464866;
    margin-bottom: 14px;

    div {
      padding: 10px 0;
    }

    :first-child {
      width: calc(100% - 240px);
    }

    :nth-child(2) {
      width: 110px;
    }

    :last-child {
      width: 130px;
    }
  }
}

.doneTasks {
  color: silver;
  h3 {
    padding: 10px 0;
  }
}
