@import "../../settings.scss";

.activeTasks {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $sectionColor;

  .addTaskInfo {
    text-shadow: 0 0 4px black, 0 0 2px white, 0 0 6px white, 0 0 10px white;
    letter-spacing: 6px;
  }
  h2 {
    border-top: 2px solid $sectionColor;
    text-transform: uppercase;
    padding: 10px 0;

    em {
      color: $sectionColor;
    }

    &:hover {
      em {
        color: $textColor;
      }
    }
  }

  .infoRow {
    display: flex;
    text-transform: uppercase;
    border-top: 1px solid $sectionColor;
    border-bottom: 2px solid $sectionColor;
    letter-spacing: 2px;
    background: $rowDateColor;
    margin-bottom: 14px;

    div {
      padding: 10px 0;
    }

    :first-child {
      width: calc(100% - 240px);
    }

    :nth-child(2) {
      width: 110px;
    }

    :last-child {
      width: 130px;
    }
  }
}

.doneTasks {
  color: $sectionColor;
  h3 {
    padding: 10px 0;
  }
}

@media (max-width: 992px) {
  .activeTasks {
    padding-bottom: 10px;
    h2 {
      padding: 6px 0;
    }

    .infoRow {
      display: none;
    }
  }
}
