@import "../../settings.scss";

.activeTasks {
  h2 {
    padding: 10px 0;

    box-shadow: 4px 4px 2px grey;
    em {
      color: $sectionColor;
    }

    &:hover {
      em {
        color: $textColor;
      }
    }
  }
}

.doneTasks {
  margin-top: 10px;
  h3 {
    padding: 10px 0;
    border-top: solid 1px rgba(128, 128, 128, 0.5);
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
  }
}

@media (max-width: 992px) {
  .activeTasks {
    h2 {
      border-top: solid 1px rgba(128, 128, 128, 0.5);
      box-shadow: 0 4px 2px grey;
    }
  }
}
